:root {
    /* Main UI */
    --color-bg: #15141a;
    --color-container: rgba(26, 25, 33, 0.9);
    --color-container-accent-light: rgba(40, 38, 51, 0.9);
    --color-container-accent-dark: rgba(30, 29, 38, 0.9);
    --color-navbar-bg: rgba(26, 25, 33, 1);
    --color-navbar-text: darkgray; /* = a9a9a9 */
    --color-navbar-text-dark: #686868;
    
    /* Shadows */
    --color-shadows: #121212;
    --shadow-0-0-4: 0 0 4px var(--color-shadows);
    
    /* Text colors */
    --color-text: #dedede;
    --color-text-disabled: #6b737d;
    --color-text-dark: #39485f;
    --color-text-darker: #2a3547;
    --color-blue: #377dcb;
    --color-lightblue: #00d2ff;
    --color-turquoise: #439eac;
    --color-green: #35b400;
    --color-mediumgreen: #17a472;
    --color-teal: #2bbba8;
    --color-yellow: #ffcd48;
    --color-orange: #e07439;
    --color-darkteal: #065969;
    --color-clay: #ba4232;
    --color-red: #ff1b1b;
    --color-lightred: #f15151;
    
    /* Text colors (food) subject to change */
    --color-rarity-1-text: #d5d5e0;
    --color-rarity-2-text: #58d058;
    --color-rarity-3-text: #00d2ff;
    --color-rarity-4-text: #f289ff;
    --color-rarity-5-text: gold;
    
    /* Text colors (elemental effect headers) */
    --color-volt: #b769be;
    --color-ice: #49a3d1;
    --color-phys: #d88c2a;
    --color-flame: #bb4033;
    
    /* Text colors (shatter & charge tiers) */
    --color-tier-bg: #3b3e45;
    --color-tier-c: #a2e4cb;
    --color-tier-b: #b5dfff;
    --color-tier-a: #e1beff;
    --color-tier-s: #ffdb84;
    --color-tier-ss: #fdebb7;
    
    /* Text colors (affinity gift categories) */
    --color-gift-category-collectibles: #8b8bc5;
    --color-gift-category-everyday-items: #c08f8d;
    --color-gift-category-figurines: #da849f;
    --color-gift-category-games: #8faecb;
    --color-gift-category-limited-time-items: #ddc392;
    --color-gift-category-metalware: #b09cea;
    --color-gift-category-decorations: #ababa5;
    --color-gift-category-rare-items: #dd64a9;
    --color-gift-category-toys: #dd9cea;
    --color-gift-category-vera: #cba79a;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Helvetica', 'Roboto', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/Helvetica.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Chakra Petch', sans-serif;
}

h1 strong, h2 strong, h3 strong {
    color: var(--color-lightblue) !important;
}

menu {
    margin: 0;
    padding: 0;
}


/* LIBRARY RELATED
=============================================== */

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 768px) {
    .container {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        min-height: 100%;
    }
}

.container {
    position: relative;
    z-index: 60000;
    background: var(--color-container);
    box-shadow: var(--shadow-0-0-4);
    min-height: 100%;
}
.p-6 {
    padding: 6rem !important;
}
.px-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.modal-backdrop {
    background: var(--color-bg);
    opacity: 0 !important;
}

.modal-dialog {
    max-width: 1000px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal-body::-webkit-scrollbar,
body::-webkit-scrollbar,
.sidenav .nav-body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal-body,
body,
.sidenav .nav-body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.modal-header {
    border: none;
}

.modal {
    box-shadow: var(--shadow-0-0-4);
}

.modal-content {
    background: var(--color-container);
}

.tooltip {
    font-size: 1.6rem;
}

.popover {
    font-size: 1.6rem;
    z-index: 70000;
    filter: drop-shadow(var(--shadow-0-0-4));
    max-width: fit-content;
    background-color: #282633;
    border-radius: 0.75rem;
}

.popover-arrow::after {
    border-bottom-color: #282633 !important;
}

.fa-star,
.fa-1,
.fa-2,
.fa-3,
.fa-4,
.fa-5,
.fa-6 {
    color: gold;
}

.modal-section-header {
    font-weight: bold;
    color: gold;
    font-size: 3.5rem;
    font-family: 'Chakra Petch', sans-serif;
    filter: drop-shadow(var(--shadow-0-0-4));
    margin: 0;
}



.page-header {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0;
}

.page-info-icon {
    font-size: 2em;
    position: absolute;
    right: 0;
}
.page-info-icon:hover {
    cursor: pointer;
    filter: brightness(0.6);
}
.page-info {
    position: absolute;
    z-index: 90000;
    background-color: #282633;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-0-0-4);
    width: auto;
    max-width: 80%;
    right: 2.2em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease;
}
.page-info-icon:hover+.page-info {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: fixed;
    z-index: 90000;
}
.tooltip-inner {
    background-color: #282633;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #282633;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #282633;
}
.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #282633;
}
.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #282633;
}

/* NAV RELATED
=============================================== */

.sidenav {
    filter: drop-shadow(var(--shadow-0-0-4));
    z-index: 80000;
    padding: 0;
    min-height: 100%;
    align-content: space-between;
    position: fixed;
}

#sidenav-btn-close {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer
}
.nav-open #sidenav-btn-close {
    display: block;
}

.sidenav i {
    width: 25px;
    text-align: center;
    margin-right: 3px;
}

.sidenav .nav-body {
    position: relative;
    background-color: var(--color-navbar-bg);
    overflow-x: hidden;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.sidenav .nav-contents {
    padding: 3rem 3rem 0 3rem;
    width: 250px;
    height: 100vh;
    flex-direction: column; 
    display: flex;
}

.sidenav .nav-link {
    margin-bottom: -3px;
    padding: 10px 0;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-navbar-text) !important;
}

.sidenav .nav-item {
    width: 100%;
    border-radius: 0.75rem;
    padding: 0 0 0 0;
    transition: background 125ms ease, padding 125ms ease, color 125ms ease;
}

.sidenav .nav-item:hover {
    background-color: #282633 !important;
    padding: 0 0 0 5px;
}

.sidenav .nav-item:hover a {
    color: var(--color-text) !important;
}

.sidenav .active a,
.sidenav .active:hover a {
    color: var(--color-tier-s) !important;
    font-weight: bold;
}

.nav-link[href="damagecalculator"] {
    font-size: 1.6rem;
    width: 101%;
}
.nav-link[href="damagecalculator"] i {
    font-size: 1.8rem;
}

.navbar-brand {
    color: var(--color-navbar-text) !important;
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    width: 190px;
    object-fit: none;
    transition: color 125ms ease;
}

.navbar-brand:hover {
    color: var(--color-turquoise) !important;
}

.sidenav hr {
    background-color: gray;
}

.sidenav .nav-socials a {
    color: var(--color-turquoise) !important;
}
.nav-socials .fa-reddit-alien {
    font-size: 2.5rem; 
    margin-top: -8px;
}

.nav-footer {
    color: var(--color-navbar-text-dark) !important;
    font-size: 1.25rem;
    margin: auto auto 3rem auto;
}


.nav-backdrop {
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    background: black;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}
.nav-open .nav-backdrop {
    visibility: visible;
    opacity: 0.4;
}

@media only screen and (min-width: 1440px) {
    .sidenav .nav-body {
        width: 250px;
    }
    .sidenav .nav-toggler {
        display: none;
    }
}

#nav-toggler {
    padding: 0.5rem 1.5rem;
    font-size: 2em;
    color: var(--color-turquoise) !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-navbar-bg);
    cursor: pointer;
}

.nav-open {
    width: 250px!important;
}

/* MIMIC PAGE
=============================================== */

/* Mimic list UI */
.bg-img {
    position: fixed;
    right: 0;
    object-fit: none;
    object-position: 200px;
    transition: opacity 0.5s ease;
}

#modal-menu {
    transition: opacity 0.5s ease;
}

.modal-menu-item:hover {
    cursor: pointer;
}

.mimic-button {
    position: relative;
    display: inline-block;
    transition: color 125ms ease-in-out;
    text-align: center;
    filter: drop-shadow(var(--shadow-0-0-4));
}

.mimic-button h3 {
    margin-top: 0.5rem;
}

.mimic-button .cn-flag,
.chip-button .cn-flag, 
.gadget-button .cn-flag {
    position: absolute;
    left: 0;
}

.mount-wrapper .cn-flag {
    vertical-align: middle;
}

.cn-flag {
    filter: drop-shadow(0px 2px 2px var(--color-shadows));
    display: inline-block;
    line-height: 1;
    background-image: linear-gradient(-45deg,transparent 15%,#e72e37 0);
    border-radius: 2px;
    color: #fff;
    cursor: default;
    font-family: Chakra Petch, sans-serif;
    font-size: 1.4rem;
    letter-spacing: .05em;
    padding: 0.2em 0.42em 0.2em 0.36em;
    text-decoration: none !important;
    text-shadow: 0 0 0.5em rgb(0 0 0 / 60%);
}


.mimic-button:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--color-turquoise);
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}

.mimic-button:hover {
    color: var(--color-turquoise);
}

.mimic-button:hover:after {
    transform: scaleX(1);
}

.modal-menu-category {
    width: fit-content;
    padding: 0 1.5rem;
    margin: 1rem 2rem;
    box-shadow: 0 2px 2px var(--color-shadows);
}

/* Mimic Modal contents */
.weapon-info-wrapper .fa-solid {
    font-size: 2rem;
}

.traits span {
    margin-bottom: 3px;
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: normal;
    display: block;
    width: fit-content;
}

.traits {
    width: 626px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-text);
}

.traits-img {
    width: 500px;
}

#wep-name {
    font-size: 2rem;
    font-weight: bold;
}
.wep-basic-info * {
    color: var(--color-text);
}
.wep-basic-info h3 {
    font-weight: 500;
}

.tier {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 900;
    background-color: #3b3e45;
    text-transform: uppercase;
    transform: skew(-9deg, 0deg);
    vertical-align: middle;
}
.tier-c {
    color: var(--color-tier-c);
}
.tier-b {
    color: var(--color-tier-b);
}
.tier-a {
    color: var(--color-tier-a);
}
.tier-s, .tier-ss {
    color: var(--color-tier-s);
}

#energy-charge,
#shield-break {
    font-weight: bold;
}
#energy-charge-tier,
#shield-break-tier {
    width: 36px;
    margin-right: 0.5rem;
    display: inline-block;
}

.star-list .nav-item i {
    color: gray;
}

.star-list .nav-item .active i,
.star-list .nav-item:hover .active i {
    color: gold;
}

.star-list .nav-item:hover i {
    color: var(--color-text);
}

#star-all i {
    font-size: inherit;
}

.btn-minimal {
    color: gray;
    font-weight: bold;
    margin-bottom: -2px;
}

.btn-minimal:hover {
    color: var(--color-text);
}

.btn-minimal:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--color-text);
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}

.btn-minimal:hover:after {
    transform: scaleX(1);
}

#breakthrough-mats .col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
/*
    background-color: #282633;
    padding: 10px 0px;
    border-radius: 0.75rem;
    margin-left: .5rem;
    margin-right: .5rem;
    box-shadow: var(--shadow-0-0-4);
*/
}
#breakthrough-mats .item-wrapper-with-bg {
    margin: 0 .4rem;
    filter: none;
    box-shadow: 0 0 4px 2px var(--color-shadows);
}
#breakthrough-mats img {
    width: 64px;
}


#chip-img,
.chip-img {
    width: 128px;
    height: 128px;
    object-fit: none;
}

.chip-recommended {
    position: relative;
    width: 140px;
    height: 128px;
    margin: 0 4px;
}
.badge {
    position: absolute;
    color: white;
    font-family: 'Chakra Petch';
    padding: 0;
}
.chip-recommended .badge {
    font-size: 2.8rem;
    right: 0;
    bottom: 0.3rem;
}

#combat-text ul {
    list-style: none;
    padding: 0;
}
#combat-text ul li {
    margin: 15px 0;
}
#combat-text b {
    color: var(--color-lightred);
}

.submitted-by {
    text-align: right;
    
    color: gray;
    font-style: italic
}

#gifts-wrapper .item-wrapper-with-bg {
    display: inline-block;
    margin: 0.5rem;
}

#gifts-wrapper img {
    width: 64px;
}

#gifts-wrapper .badge {
    z-index: 4;
    font-size: 2rem;
    line-height: 20px;
    right: 2px;
    bottom: 2px;
    text-shadow: var(--shadow-0-0-4);
}

.gift-category {
    text-transform: capitalize;
    background-color: pink;
    padding: 0.65rem;
    color: white;
    font-weight: bold;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-0-0-4);
}


/* GUIDE RELATED
=============================================== */
#dps-loadout-guide div {
    display: inline-block;
    margin: 5px;
}

.guide-con {
    color: red;
}

.guide-pro {
    color: green;
}

.guide-header {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--color-shadows);
    border-bottom: 0px solid #555555;
}

.guide-header:hover {
    color: inherit;
    background-color: #222222;
}

.guide-header:active {
    background-color: #222222;
}

.guide-header code {
    color: purple;
    font-size: 1.5rem;
}
#guide-reisen-wep .card {
    text-align: center;
    margin: 1rem 0;
}
#guide-reisen-wep .card-text {
    font-size: 1.3rem;
    text-align: left;
}

#guide-stitch-wep blockquote {
    display: flex;
    padding: 1.5rem;
    background-color: var(--color-container-accent-light);
    margin: 0;
}
#guide-stitch-wep blockquote img {
    object-fit: none;
    margin-right: 1rem;
}

#guide-stitch-wep blockquote:nth-child(odd) {
    background-color: var(--color-container-accent-dark);  
}

#guide-stitch-wep blockquote:nth-child(odd) img {
    object-fit: none;
    margin-left: 1rem;
    order: 2;
}

#guide-stitch-wep td {
    color: lawngreen;
    font-weight: bold;
}

#guide-zakum-currencies img {
    width: 64px;
}

.guide-divider {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Chakra Petch";
    border-bottom: 2px solid deepskyblue;
}

.table-blackcrystals td img {
    width: 26px;
}

.table-blackcrystals td:nth-child(3) {
    color: gray;
}

#guide-stitch-wep table {
    text-align: center;
}

#guide-stitch-wep th {
    text-align: left;
}

#guide-abyss-achievement h1:hover {
    color: var(--color-tier-s);
    cursor: pointer;
}
#guide-pyrosu-housing table img {
    width: 64px;
}

#guide-pyrosu-housing table:first-of-type {
    line-height: 64px;
}

.guide-game-version {
    background-color: var(--color-container-accent-light);
    padding: .5rem 1rem;
    border-radius: 0.5rem;
}
.guide-game-version h2 {
    margin: 0;
    display: flex;
}
.guide-game-version h2 span {
    padding: .25rem .5rem;
    border-radius: 0.45rem;
    margin-right: 1rem;
    margin-left: auto;
    font-size: 1.7rem;
}
.guide-game-version h2 i {
    font-size: 1.7rem;
}
.guide-game-version hr {
    margin: 0.5rem 0;
}
.guide-game-version h3 strong {
    color: var(--color-clay) !important;
}

/* GADGETS RELATED
=============================================== */
.gadget-button {
    display: inline-block;
    transition: color 125ms ease-in-out;
    text-align: center;
    filter: drop-shadow(0 0 4px #111111);
    overflow: hidden;
    vertical-align: top;
}
.gadget-img {
    width: 128px;
}
.gadget-button .flag.badge {
    top: 55%;
    right: 5%;
}
.gadget-button h3 {
    max-width: 128px;
}

.gadget-button:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--color-turquoise);
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}

.gadget-button:hover {
    color: var(--color-turquoise);
}

.gadget-button:hover:after {
    transform: scaleX(1);
}

.bg-img-gadget {
    object-position: 160px;
}


/* CHIPS RELATED
=============================================== */

.chip-button {
    display: inline-block;
    transition: color 125ms ease-in-out;
    text-align: center;
    filter: drop-shadow(0 0 4px #111111);
    vertical-align: top;
}

.chip-button-img {
    margin-bottom: 5px;
    width: 128px;
    height: 128px;
    object-fit: none;
}
.chip-button h3 {
    max-width: 128px;
}

.chip-button .flag.badge {
    top: 60%;
    right: 5%;
}

.chip-button:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--color-turquoise);
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}

.chip-button:hover {
    color: var(--color-turquoise);
}

.chip-button:hover:after {
    transform: scaleX(1);
}





/* Changelog */
.cl {
    color: gray;
    display: block;
    height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cl::-webkit-scrollbar {
    display: none;
}
.cl span {
    background: #222222;
}


/* FOOD RELATED
=============================================== */

.ingredient-group {
    text-align: center;
    white-space: normal;
    line-height: 2rem;
}

.ingredient-group .badge {
    font-size: 2.3rem;
    width: 20px;
    line-height: 20px;
    right: 0px;
    bottom: 2px;
    text-shadow: var(--shadow-0-0-4);
}

.ingredient-group .item-wrapper-with-bg {
    width: 78px;
    height: 78px;
    margin: auto 1rem;
}
.food-group .item-wrapper-with-bg {
    width: 78px;
    height: 78px;
    margin: 1rem auto;
}
.food-group {
    padding: 1.5rem;
}
#food-wrapper {
    position: relative;
    z-index: 60000;
}

.food-group:nth-child(odd) {
    background: var(--color-container-accent-light);
}

.food-group:nth-child(even) {
    background: var(--color-container-accent-dark);
}

.item-img {
    width: 91px;
    height: 91px;
    object-position: -6px -6px;
}

.font-chakra {
    font-family: 'Chakra Petch';
}



/* COLORS
=============================================== */

.bg-rarity-1 {
    background: radial-gradient(#a7bacb, 30%, #9caec6);
}

.bg-rarity-2 {
    background: radial-gradient(#68c5b2, 30%, #5aae9c);
}

.bg-rarity-3 {
    background: radial-gradient(#70b3e7, 30%, #65a0cd);
}

.bg-rarity-4 {
    background: radial-gradient(#d3c0de, 30%, #c2abd0);
}

.bg-rarity-5 {
    background: radial-gradient(#efdbad, 30%, #e9d197);
}

.item-wrapper, .item-wrapper-with-bg {
    position: relative; 
    width: fit-content;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-0-0-4);
}
.item-wrapper-with-bg::before {
    content: '';
    background: url(/images/itembg.svg) no-repeat center;
    background-size: contain;
    opacity: 0.25;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item-wrapper img, .item-wrapper-with-bg img {
    position: relative; 
    z-index: 3; 
}


.text-green {
    color: var(--color-green) !important;
}

.text-orange {
    color: var(--color-orange) !important;
}



/* MOUNTS RELATED
=============================================== */
.mount-mat-wrapper {
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    /*margin: 1rem 0;*/
    /*padding: 2rem;*/
    /*
    background-color: #282633;
    box-shadow: var(--shadow-0-0-4);*/
}

.mount-wrapper {
    padding: 2rem 6rem;
}
.mount-wrapper:nth-of-type(2n+1) {
    background: var(--color-container-accent-light);
}

.mount-wrapper:nth-of-type(2n) {
    background: var(--color-container-accent-dark);
}

.mount-wrapper h1 {
    color: var(--color-tier-a);
    color: var(--color-tier-s);
    color: gold;
    color: deepskyblue;
    font-weight: bold;
}



.mount-mat-img {
    width: 64px;
}
.mount-img {
    width: 220px;
}
.mount-name {
    font: bold 3rem 'Chakra Petch';
}
.mount-wrapper .nav {
    
}
.mount-wrapper .nav-link {
    padding: 0;
    margin: 0 .5rem;
    border-radius: 0.75em;
}
.mount-wrapper .nav-link.active {
    background-color: var(--color-turquoise);
    box-shadow: var(--shadow-0-0-4);
}







/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]:focus {
    outline-width: 0;
}

.input-number-wrapper {
    width: 46px;
    font-size: 20px;
    display: flex;
    position: relative;
    color: var(--color-text);
    width: fit-content;
    padding: .5rem;
    border-radius: 0.75rem;
    background-color: #282633;
    box-shadow: var(--shadow-0-0-4);
    border: 2px solid transparent;
    transition: border 0.1s linear;
}
.input-number-wrapper:focus-within {
    border-color: deepskyblue;
}
.input-number-wrapper input {
    width: 3em;
    color: var(--color-text);
    text-align: right;
    background: none;
    border: none;
    padding: 0;
}

.input-number-wrapper span {
    align-self: center;
    margin-right: 3px;
}


.modal-content strong {
    color: var(--color-blue);
}
.modal-content article {
    margin-bottom: 3rem;
}
article section {
    padding: 1.5rem 0; 
}

.affinity-wrapper strong {
    color: var(--color-green);
}
#food-wrapper strong {
    color: var(--color-rarity-2-text);
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: auto;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #282633;
    border-radius: 1rem;
    box-shadow: var(--shadow-0-0-4);
    transition: background 0.1s linear;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: var(--shadow-0-0-4);
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    transform: rotate(-45deg);
    border-radius: .3rem;
    background: var(--color-tier-a);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
#enemyEleWeakness::-webkit-slider-thumb {
    background: var(--color-tier-s);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: deepskyblue;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #282633;
    border-radius: 1rem;
    box-shadow: var(--shadow-0-0-4);
}

input[type=range]::-moz-range-thumb {
    box-shadow: var(--shadow-0-0-4);
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    transform: rotate(-45deg);
    border-radius: .3rem;
    background: var(--color-tier-a);
    cursor: pointer;
    margin-top: -4px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #282633;
    border-radius: 1rem;
    box-shadow: var(--shadow-0-0-4);
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #282633;
    border-radius: 1rem;
    box-shadow: var(--shadow-0-0-4);
}

input[type=range]::-ms-fill-upper {
    background: #282633;
    border-radius: 1rem;
    box-shadow: var(--shadow-0-0-4);
}

input[type=range]::-ms-thumb {
    box-shadow: var(--shadow-0-0-4);
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    transform: rotate(-45deg);
    border-radius: .3rem;
    background: var(--color-tier-a);
    cursor: pointer;
    margin-top: -4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: deepskyblue;
}

input[type=range]:focus::-ms-fill-upper {
    background: deepskyblue;
}

.tick-marks {
    width: 135px;
    display: flex;
    margin-top: -13px;
    font-size: 1.4rem;
}



select {
    font-size: 2rem;
    background-color: #282633;
    color: var(--color-text);
    border: 2px solid transparent;
    outline: none;
    padding: .5rem;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-0-0-4);
    border: 2px solid transparent;
    transition: border 0.1s linear;
}
select:focus, select:focus-within {
    border-color: deepskyblue;
    transition: border 0.1s linear;
}
.input-section-wrapper {
    display: flex;
}
.input-section-wrapper div {
    width: fit-content;
    font-size: 2rem;
    position: relative;
    align-items: center;
    padding: .5rem 10px;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: var(--shadow-0-0-4);
}
label i {
    color: gold;
    align-self: center;
}
input[type="checkbox"], 
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    place-content: center;
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: 40;
    transition: background .25s;
    background-color: #282633;
    cursor: pointer;
    border: 0;
    /* to offset the padding */ 
    margin-left: -10px; 
    margin-top: -.5rem;
}
input+label {
    position: relative;
    z-index: 50;
    font-size: 2rem;
}
.input-section-wrapper div *:hover {
    cursor: pointer;
}
input:checked { 
    background-color: #4f496e;
}
input:disabled, 
select:disabled {
    background: #373738;
}
input:disabled+label, 
input:disabled+label i, 
select:disabled {
    color: gray;
}
select {
    transition: background .25s;
}



.checkbox-wrapper {
    width: 34px;
    height: 34px;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: var(--shadow-0-0-4);
    background-color: #282633;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    transition: border 0.1s linear;
}
.checkbox-wrapper:focus-within {
    border-color: deepskyblue;
}
.checkbox-wrapper:hover .checkbox-knob {
    background: var(--color-tier-s);
    display: block;
    position: relative;
    width: 40%; 
    height: 40%;
    border-radius: 0.3rem;
    transition: width 0.1s linear, height 0.1s linear;
}
.checkbox-knob {
    border-radius: 0.3rem;
    transition: width 0.1s linear, height 0.1s linear;
    background: var(--color-tier-s);
    position: relative;
    z-index: 50;
    width: 0%; 
    height: 0%;
    opacity: 1;
    animation: pop 0.3s linear 1;
}
#heavilyWounded {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    background: none;
    position: absolute;
    z-index: 100;
    width: 100%; 
    height: 100%;
}
#heavilyWounded:checked+.checkbox-knob {
    width: 60%; 
    height: 60%;
}

@keyframes pop{
    0% {transform: scale(0);}
    50% {transform: scale(1.2);}
}



.calculator-result {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
}
#totalDmgOutput {
    font-size: 3.5rem;
    font-weight: bold;
    color: indianred;
}
#footnote-warning {
    color: red;
    font-weight: bold;
}


#reset-button {
    position: absolute;
    right: 0;
    width: fit-content;
    padding: .5rem 1rem;
    font-size: 2rem;
    background-color: #282633;
    border-radius: 0.75rem;
    filter: drop-shadow(var(--shadow-0-0-4));
    border: none;
    box-shadow: inset 0 0 0 0 #373738;
    color: indianred;
    transition: box-shadow 0.2s ease;
}
#reset-button:hover {
    box-shadow: inset 0 0 50px 20px #373738;
}
#reset-button:active {
    filter: drop-shadow(var(--shadow-0-0-4)) brightness(0.85);
}


.tag {
    text-transform: uppercase;
    background-color: gold;
    color: black;
    font-size: 1.2rem;
    padding: .1em .3em;
    font-weight: bold;
    border-radius: 0.2em;
}

.tag-new {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
}

.chip-button .tag-new {
    top: 65%;
}

.tag-recommended {
    color: white;
    background-color: purple;
}
.tag-cn {
    position: absolute;
    background-color: #de2910; 
    color: #ffde02;
}

.widget-discord {
    position: absolute;
}
.widget-discord * {
    display: none;
}