html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: #15141a;
    color: #dedede;
    font-family: 'Helvetica', 'Roboto', 'Times New Roman';
    font-size: 1.6rem;
    padding-top: 5.5rem;
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.ttf'), url('Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p { margin: 0; }
@font-face {
    font-family: 'Noto Color Emoji';
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}
.flag {
    font-family: "Noto Color Emoji";
}


/* LIBRARY RELATED
=============================================== */

@media (min-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}
.container { 
    padding: 0;
    background: rgba(26, 25, 33, 0.9); 
    box-shadow: 0 0 4px #111111;
}
.modal-backdrop { 
    background: #15141a;
    opacity: 0 !important;
}
.modal-dialog { max-width: 1000px !important; }
/* Hide scrollbar for Chrome, Safari and Opera */
.modal-body::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.modal-body, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.modal-header { border: none; }
.modal {
    padding-top: 5.5rem; 
    box-shadow: 0 0 4px #111111;
}
.modal-content {
    background: rgba(26, 25, 33, 0.9);
}
.tooltip {
    font-size: 1.6rem;
}
.popover {
    font-size: 1.6rem;
}
.fa-star, .fa-1, .fa-2, .fa-3, .fa-4, .fa-5, .fa-6 {
    color: gold;
}


/* NAV RELATED
=============================================== */

.navbar * {
    color: #439eac !important;
    font-weight: bold;
}
.navbar {
    filter: drop-shadow(0 0 4px #121212);
}
.nav-link {
    margin-bottom: -3px;
}
.navbar .nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #439eac;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}
.navbar .nav-link:hover:after {
    transform: scaleX(1);
}
.nav-bg {
    background: #1a1921;
}
.navbar-brand {
    font-size: 16px;
}


/* MIMIC PAGE
=============================================== */

/* Mimic list UI */
.bg-img {
    position: fixed; 
    right: 0; 
    object-fit: none; 
    object-position: 200px;
}
#mimic-list {
    transition: opacity 0.5s ease;
}
.mimic-button {
    display: inline-block;
    transition: color 125ms ease-in-out;
    text-align: center;
    filter: drop-shadow(0 0 4px #111111);
}
.mimic-button img {
    margin-bottom: 5px;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    object-fit: none;
}
.mimic-button:after {
    display: block;
    content: '';
    border-bottom: solid 3px #439eac;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}
.mimic-button:hover {
    color: #439eac;
}
.mimic-button:hover:after {
    transform: scaleX(1);
}
.mimic-rarity-header {
    width: 140px; 
    padding: 0 3px; 
    box-shadow: 0 3px 3px #111111;
}
/* Mimic Modal contents */
.weapon-info-wrapper .fa-solid {
    font-size: 2rem;
}
.trait-title {
    margin-bottom: 3px;
    font-size: 1.8rem;
}
#mimic-gender,
#mimic-height,
#mimic-birthplace,
#mimic-horoscope,
#mimic-birthday {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
}
#wep-name {
    font-size: 2rem;
    font-weight: bold;
}
.wep-tier {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 900;
    background-color: #3b3e45;
    text-transform: uppercase;
    transform: skew(-9deg, 0deg);
    vertical-align: middle;
    color: skyblue;
}
.wep-tier-a { color: #d1b9eb; }
.wep-tier-s, .wep-tier-ss { color: #ffdb85; }
#energy-charge, #shield-break { font-weight: bold; }

.star-list .nav-item i {
    color: gray;
}
.star-list .nav-item .active i,
.star-list .nav-item:hover .active i {
    color: gold;
}
.star-list .nav-item:hover i {
    color: #dedede;
}
#star-all i {
    font-size: inherit;
}
.btn-minimal {
    color: gray;
    font-weight: bold;
    margin-bottom: -2px;
}
.btn-minimal:hover {
    color: #dedede;
}
.btn-minimal:after {
    display: block;
    content: '';
    border-bottom: solid 2px #dedede;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}
.btn-minimal:hover:after {
    transform: scaleX(1);
}
.breakthrough-mat {
    width: 96px;
    height: 96px;
    object-fit: none;
    object-position: 45% 50%;
}
.item-border {
    border-radius: 0.75rem;
    filter: drop-shadow(0 0 5px black);
    border: 6px solid gray;
    position: relative;
}
#chip-img {
    width: 128px;
    height: 128px;
    object-fit: none;
}


/* GUIDE RELATED
=============================================== */
#dps-loadout-guide div {
    display: inline-block;
    margin: 5px;
}
.guide-con { color: red; }
.guide-pro { color: green; }

.guide-header {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #111111;
    border-bottom: 0px solid #555555;
}
.guide-header:hover {
    color: inherit;
    background-color: #222222;
}
.guide-header:active {
    background-color: #222222;
}

.guide-header code {
    color: purple;
    font-size: 1.5rem;
}
#guide-reisen-wep .card-text {
    font-size: 1.3rem;
    text-align: left;
}
#guide-stitch-wep td {
    color: lawngreen;
    font-weight: bold;
}
#guide-zakum-currencies img {
    width: 64px;
}
.guide-divider {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Chakra Petch";
    border-bottom: 2px solid deepskyblue;
}




/* GADGETS RELATED
=============================================== */
.gadget-button {
    display: inline-block;
    transition: color 125ms ease-in-out;
    text-align: center;
    filter: drop-shadow(0 0 4px #111111);
    overflow: hidden;
}
.gadget-img {
    width: 128px;
}
.gadget-button:after {
    display: block;
    content: '';
    border-bottom: solid 3px #439eac;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}
.gadget-button:hover {
    color: #439eac;
}
.gadget-button:hover:after {
    transform: scaleX(1);
}
.bg-img-gadget {
    position: fixed; 
    right: 0; 
    object-fit: none; 
    object-position: 160px;
}


/* CHIPS RELATED
=============================================== */

#chip-list {
    transition: opacity 0.5s ease;
}
.chip-button {
    display: inline-block;
    transition: color 125ms ease-in-out;
    text-align: center;
    filter: drop-shadow(0 0 4px #111111);
}
.chip-button img {
    margin-bottom: 5px;
    width: 128px;
    height: 128px;
    object-fit: none;
}
.chip-button:after {
    display: block;
    content: '';
    border-bottom: solid 3px #439eac;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}
.chip-button:hover {
    color: #439eac;
}
.chip-button:hover:after {
    transform: scaleX(1);
}





/* Changelog */
.cl  {
    color: gray;
}
.cl-date {
    background: #222222;
}


/* FOOD RELATED
=============================================== */

.ingredient-group {
    filter: drop-shadow(0 0 5px black);
}
.ingredient {
    width: 70px;
    border-radius: 0.75rem;
    border: 4px solid gray;
}

.badge-tr {
    right: 0; 
    top: 0; 
}
.badge-br {
    right: 2px; 
    bottom: 4px; 
}

.badge {
    position: absolute;
    border-radius: 50%; 
    color: white; 
    font-family: 'Chakra Petch';
    font-size: 2.3rem;
    padding: 0;
    width: 20px;
    line-height: 20px;
}
.img-holder {
    border-radius: 0.75rem;
    filter: drop-shadow(0 0 5px black);
    border: 6px solid gray;
    width: fit-content;
    position: relative;
}
.food-group {
    background: #222222;
    border-radius: 0.75rem;
    filter: drop-shadow(0 0 5px black);
}
.img-food {
    width: 100px; 
    height: 100px; 
    object-fit: none; 
    object-position: 45% 45%;
}
.font-chakra {
    font-family: 'Chakra Petch';
}



/* COLORS
=============================================== */

.bg-rarity-1 {
    border-color: #aac0da;
    background-image: -webkit-linear-gradient(bottom right, #6d89a4 50%, #7590ab 50%);
    background-image: -o-linear-gradient(bottom right, #6d89a4 50%, #7590ab 50%);
    background-image: linear-gradient(to bottom right, #6d89a4 50%, #7590ab 50%);
}
.bg-rarity-2 {
    border-color: #29b79b;
    background-image: -webkit-linear-gradient(bottom right, #208475 50%, #218f79 50%);
    background-image: -o-linear-gradient(bottom right, #208475 50%, #218f79 50%);
    background-image: linear-gradient(to bottom right, #208475 50%, #218f79 50%);
}
.bg-rarity-3 {
    border-color: #1b9cf7;
    background-image: -webkit-linear-gradient(bottom right, #196b9e 50%, #1b6fa4 50%);
    background-image: -o-linear-gradient(bottom right, #196b9e 50%, #1b6fa4 50%);
    background-image: linear-gradient(to bottom right, #196b9e 50%, #1b6fa4 50%);
}
.bg-rarity-4 {
    border-color: #c464e0;
    background-image: -webkit-linear-gradient(bottom right, #865295 50%, #8d579d 50%);
    background-image: -o-linear-gradient(bottom right, #865295 50%, #8d579d 50%);
    background-image: linear-gradient(to bottom right, #865295 50%, #8d579d 50%);
}
.bg-rarity-5 {
    border-color: #e1ad47;
    background-image: -webkit-linear-gradient(bottom right, #ad7c37 50%, #b78332 50%);
    background-image: -o-linear-gradient(bottom right, #ad7c37 50%, #b78332 50%);
    background-image: linear-gradient(to bottom right, #ad7c37 50%, #b78332 50%);
}
.text-rarity-1 {
    color: #d5d5e0;
}
.text-rarity-2 {
    color: #58d058;
}
.text-rarity-3 {
    color: #00d2ff;
}
.text-rarity-4 {
    color: #f289ff;
}
.text-rarity-5 {
    color: gold;
}
.text-blue {
    color: deepskyblue;
    font-weight: bold;
}
.text-purple {
    color: purple;
}




.bg-stat-collectible { background-color: #8b8bc5; }
.bg-stat-everydaythings { background-color: #c08f8d; }
.bg-stat-figurine { background-color: #da849f; }
.bg-stat-games { background-color: #8faecb; }
.bg-stat-limitedtimeitem { background-color: #ddc392; }
.bg-stat-metalware { background-color: #b09cea; }
.bg-stat-ornament { background-color: #ababa5; }
.bg-stat-rareobject { background-color: #dd64a9; }
.bg-stat-toy { background-color: #dd9cea; }


