html {
    font-size: 62.5%;
}
body {
    background-color: #111111;
    color: #c8c8c8;
    font-family: 'Helvetica', 'Roboto', 'Times New Roman';
    font-size: 1.6rem;
    /* 18 pt and 12 pt */
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
    background: #181414;
    padding-top: 5rem;
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.ttf'), url('Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* body::-webkit-scrollbar {
    width: 0;
    height: 0;
} */
p { margin: 0; }


/* NAV RELATED
=============================================== */

.navbar * {
    color: #439eac !important;
    font-weight: bold;
}

.navbar {
    filter: drop-shadow(0 0 3px #111111);
}

.nav-link {
    margin-bottom: -3px;
}

.nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #439eac;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.nav-bg {
    background-color: #111111;
}

.navbar-brand {
    font-size: 16px;
}


/* NAV RELATED: MIMIC PAGE
=============================================== */

#mimic-list {
    background: #111111;
    padding: 0 5rem;
    /* 
    transition: max-height .15s ease-in-out;
    max-height: 100px;
    overflow: hidden; 
    collapse to max-height: 0 via a button trigger 
    */
}
@media only screen and (max-width: 1280px) {
    #mimic-list {
        padding: 0;
    }
}
.mimic-button {
    padding: 10px 5px 5px;
    display: inline-block;
    transition: color 125ms ease-in-out;
}
.mimic-button img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
    /* transition: background-color 125ms ease-in-out; */
}
.mimic-button:after {
    display: block;
    content: '';
    border-bottom: solid 3px #439eac;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}

.mimic-button:hover {
    color: #439eac;
}
.mimic-button:hover img {
    /* background-color: #439eac; */
}

.mimic-button:hover:after {
    transform: scaleX(1);
}


/* MIMIC PAGE RELATED
=============================================== */

.page-wrapper {
    text-align: center;
    border: 4px solid #c41c36;
    background-color: #181414;
}
.bg-mimic {
    background-color: #111111;
    padding: 15px;
}
.section-header {
    background: #c41c36;
    margin: 0;
    padding: 3px;
    font-size: 2rem;
}
#mimic-name {
    text-align: center;
    font-size: 2.4rem;
    margin: -4px auto 40px auto;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px 55px;
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #c41c36;
    position: relative;
    z-index: 40;
}
.trait-title {
    margin-bottom: 3px;
    font-size: 1.8rem;
}
#mimic-gender,
#mimic-height,
#mimic-birthplace,
#mimic-horoscope,
#mimic-birthday {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 34px solid #c41c36;
    border-left: 120px solid transparent;
    display: inline-block;
    vertical-align: top;
}
.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 34px solid #c41c36;
    border-right: 120px solid transparent;
    display: inline-block;
    vertical-align: top;
}
.red-triangle {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 19px solid #c41c36;
}

.fa-star, .fa-1, .fa-2, .fa-3, .fa-4, .fa-5, .fa-6 { color: gold; }

#wep-name {
    font-size: 2rem;
    font-weight: bold;
}
.wep-tier {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
    width: 36px;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 900;
    background-color: #3b3e45;
    text-transform: uppercase;
    transform: skew(-9deg, 0deg);
    vertical-align: middle;
    color: skyblue;
}
.wep-tier-a { color: #d1b9eb; }
.wep-tier-s, .wep-tier-ss { color: #ffdb85; }
#energy-charge, #shield-break { font-weight: bold; }

.passive-value {
    color: deepskyblue;
    font-weight: bold;
}

/* GUIDE RELATED
=============================================== */
#dps-loadout-guide div {
    display: inline-block;
    margin: 5px;
}
.guide-con { color: red; }
.guide-pro { color: green; }

.guide-header {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #111111;
    border-bottom: 0px solid #555555;
}
.guide-header:hover {
    color: inherit;
    background-color: #222222;
}
.guide-header:active {
    background-color: #222222;
}

.guide-header code {
    color: purple;
    font-size: 1.5rem;
}
#guide-reisen-wep .card-text {
    font-size: 1.3rem;
    text-align: left;
}
#guide-stitch-wep td {
    color: lawngreen;
    font-weight: bold;
}
.guide-divider {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Chakra Petch";
    border-bottom: 2px solid deepskyblue;
}





@font-face {
    font-family: 'Noto Color Emoji';
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}
.flag {
    font-family: "Noto Color Emoji";
}





.cl  {
    color: gray;
}
.cl-date {
    background: #222222;
}




.ingredient-group {
    filter: drop-shadow(0 0 5px black);
}
.ingredient {
    width: 70px;
    border-radius: 0.75rem;
    border: 4px solid gray;
}

.badge-tr {
    right: 0; 
    top: 0; 
}
.badge-br {
    right: 2px; 
    bottom: 4px; 
}

.badge {
    position: absolute;
    border-radius: 50%; 
    color: white; 
    font-family: 'Chakra Petch';
    font-size: 2.3rem;
    padding: 0;
    width: 20px;
    line-height: 20px;
}

.img-holder {
    border-radius: 0.75rem;
    filter: drop-shadow(0 0 5px black);
    border: 6px solid gray;
    width: fit-content;
    position: relative;
}
.food-group {
    background: #222222;
    border-radius: 0.75rem;
    filter: drop-shadow(0 0 5px black);
}
.img-food {
    width: 100px; 
    height: 100px; 
    object-fit: none; 
    object-position: 45% 45%;
}
.font-chakra {
    font-family: 'Chakra Petch';
}
.bg-rarity-1 {
    border-color: #aac0da;
    background-image: -webkit-linear-gradient(bottom right, #6d89a4 50%, #7590ab 50%);
    background-image: -o-linear-gradient(bottom right, #6d89a4 50%, #7590ab 50%);
    background-image: linear-gradient(to bottom right, #6d89a4 50%, #7590ab 50%);
}
.bg-rarity-2 {
    border-color: #29b79b;
    background-image: -webkit-linear-gradient(bottom right, #208475 50%, #218f79 50%);
    background-image: -o-linear-gradient(bottom right, #208475 50%, #218f79 50%);
    background-image: linear-gradient(to bottom right, #208475 50%, #218f79 50%);
}
.bg-rarity-3 {
    border-color: #1b9cf7;
    background-image: -webkit-linear-gradient(bottom right, #196b9e 50%, #1b6fa4 50%);
    background-image: -o-linear-gradient(bottom right, #196b9e 50%, #1b6fa4 50%);
    background-image: linear-gradient(to bottom right, #196b9e 50%, #1b6fa4 50%);
}
.bg-rarity-4 {
    border-color: #c464e0;
    background-image: -webkit-linear-gradient(bottom right, #865295 50%, #8d579d 50%);
    background-image: -o-linear-gradient(bottom right, #865295 50%, #8d579d 50%);
    background-image: linear-gradient(to bottom right, #865295 50%, #8d579d 50%);
}
.bg-rarity-5 {
    border-color: #e1ad47;
    background-image: -webkit-linear-gradient(bottom right, #ad7c37 50%, #b78332 50%);
    background-image: -o-linear-gradient(bottom right, #ad7c37 50%, #b78332 50%);
    background-image: linear-gradient(to bottom right, #ad7c37 50%, #b78332 50%);
}
.text-rarity-1 {
    color: #d5d5e0;
}
.text-rarity-2 {
    color: #58d058;
}
.text-rarity-3 {
    color: #00d2ff;
}
.text-rarity-4 {
    color: #f289ff;
}
.text-rarity-5 {
    color: gold;
}


/* PALETTE


#111111 navbar black
#181414 body charcoal 
#439eac navlink blue
#c8c8c8 text color

#c41c36 page border cherry

#3b3e45 wep tier background
#d1b9eb wep tier A
#ffdb85 wep tier S/SS

#222222 guide title hover

bg-rarity-1 through 5 for item box gradients

#d5d5e0 text-rarity-1
#58d058 text-rarity-2
#00d2ff text-rarity-3
#f289ff text-rarity-4
gold text-rarity-5

constellation table:
black
#050505
#101010
#151515
#202020
#252525

guides sections:
deepskyblue
hotpink
mediumaquamarine

*/