html {
    font-size: 62.5%;
}

body {
    background-color: #111111;
    color: #c8c8c8;
    font-family: 'Helvetica', 'Roboto', 'Times New Roman';
    font-size: 1.6rem;
    /* 18 pt and 12 pt */
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.ttf'), url('Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* body::-webkit-scrollbar {
    width: 0;
    height: 0;
} */
p {
    margin: 0;
}
.showing {
    display: block;
}
.hidden {
    display: none;
}
#mimic-info {
    margin: 0 auto;
    width: 1086px;
    background: #181414;
    text-align: center;
    border: 4px solid #c41c36;
}
#navigation {
    margin-bottom: 10px;
}
.left {
    width: 50%;
    text-align: center;
    display: inline-block;
}
.right {
    width: 50%;
    float: right;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.section-header {
    background: #c41c36;
    margin: 0;
    padding: 3px;
    font-size: 2rem;
}
.trait-title {
    margin-bottom: 3px;
    font-size: 1.8rem;
}
#mimic-gender, #mimic-height, #mimic-birthplace, #mimic-horoscope, #mimic-birthday {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.divider-1 {
    width: 100%; 
    height: 0%; 
    border-bottom: 1px solid gold; 
    opacity: 0.5; 
    margin: 2px 0; 
    position: relative; 
    left: 0%;
}
.content-box-1 {
    display: inline-block; 
    font-size: 18px;
    padding: 10px; 
    background-color: black;
    border-radius: 10px;
    opacity: 0.9;
}
.content-tab-1 {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 5px;
    font-family: 'Roboto';
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: lightgray;
    opacity: 0.7;
    width: 55px;
    border: 0;
}
.content-tab-2 {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: lightgray;
    opacity: 0.7;
    border: 0;
}
.content-tab-3 {
    background-color: #111111;
    width: 30px; 
    text-align: center;
    padding: 10px; 
    color: gold;
}
.content-tab-1:hover, .content-tab-1:active {
    color: gold;
    opacity: 0.9;
}
#star-1:hover, #star-2:hover, #star-3:hover, #star-4:hover, #star-5:hover, #star-6:hover {
    color: gold;
}
#star-1 {
    background-color: black; 
    border-top-right-radius: 10px;
}
#star-2 {
    background-color: #050505;
}
#star-3 {
    background-color: #101010;
}
#star-4 {
    background-color: #151515;
}
#star-5 {
    background-color: #202020;
}
#star-6 {
    background-color: #252525;  
    border-bottom-right-radius: 10px;
}

#wep-info, #wep-name, #wep-img, #wep-name, #wep-type-img, #wep-type, #wep-element-img, #wep-element, #energy-charge, #shield-break, #mimic-info-left, #mimic-info-right {
    display: inline-block;
}
#wep-type-img, #wep-element-img {
    margin: 2px 0;
}

#wep-info, #chip-info, #affinity-info {
    width: 100%;
    vertical-align: top;
}
.box-header {
    background-color: black;
    padding: 2px;
    color: gold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: auto;
    opacity: 0.7;
}
#wep-name {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0px;
}
#awakening-info, #wep-info {
    border-radius: 5px;
    vertical-align: top;
    margin: 0 auto;
}
.content-box-2 {
    background-color: #c8c8;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}
#chip-2, #chip-4, #affinity-200, #affinity-600, #affinity-1200, #affinity-2000, #affinity-3000, #affinity-4000 {
    padding: 0 5px 3px 5px;
}
#affinity-info .box-content {
    background-color: #006d91;
}
#affinity-info .box-header, #chip-info .box-header {
    color: white;
}
#mimic-name {
    text-align: center;
    font-size: 2.4rem;
    margin: -4px auto 40px auto;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px 55px;
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #c41c36;
    position: relative;
    z-index: 40;
}
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 34px solid #c41c36;
    border-left: 120px solid transparent;
    display: inline-block;
    vertical-align: top;
}
.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 34px solid #c41c36;
    border-right: 120px solid transparent;
    display: inline-block;
    vertical-align: top;
}
.red-triangle {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 19px solid #c41c36;
}

.passive-value {
    color: deepskyblue;
    font-weight: bold;
}

.wep-sub-tier {
    font-style: italic;
    background-color: #3b3e45;
    padding: 0 6px;
    border-radius: 3px;
    margin-right: 5px;
    color: #ffdb85;
}
.mimic-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #439eac;
    margin: 0 3px;
    vertical-align: middle;
    padding: 0;
    background-position: center;
}
#btn-samir {background-image: url(images/icon_samir.png);}
#btn-coco {background-image: url(images/icon_coco.png);}
#btn-king {background-image: url(images/icon_king.png);}
#btn-shiro {background-image: url(images/icon_shiro.png);}
#btn-cobalt {background-image: url(images/icon_cobalt.png);}
#btn-claudia {background-image: url(images/icon_claudia.png);}
#btn-baiyuekui {background-image: url(images/icon_baiyuekui.png);}
#btn-meryl {background-image: url(images/icon_meryl.png);}
#btn-huma {background-image: url(images/icon_huma.png);}
#btn-hane {background-image: url(images/icon_hane.png);}
#btn-karasuma {background-image: url(images/icon_karasuma.png);}
#btn-zero {background-image: url(images/icon_zero.png);}

.mimic-button:hover {
    border: 3px solid gold;
}
#navigation {
    text-align: center;
}

#dps-loadout-guide div {
    display: inline-block;
    margin: 5px;
}

.loadout-con {
    background: red;
}
.loadout-pro {
    background: green;
}