.item-frame {
    width: 71px;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: gray;
    position: relative;

    &::before {
        content: "";
        background: url("../../data/images/itembg.svg") no-repeat center;
        background-size: contain;
        opacity: 0.25;
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        z-index: 5;
    }
}