@use "../abstracts" as *;

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1000;
    width: 0;
}

.nav-body {
    padding: 0 2rem;
    width: calc($sidenav-width - 4rem);
    max-width: $sidenav-width;
    height: 100%;
    backdrop-filter: blur(15px);
    overflow-y: scroll;
    background-color: clr(container);
    transition: transform 0.3s ease;
    box-shadow: $shadow;
}

@media (max-width: 1249px) {
    .sidenav .nav-body {
        transform: translateX(calc(-1 * $sidenav-width));
    }
}

// LINKS RELATED 
// =================================================================

.nav-body ul {
    padding: 0;

    li {
        position: relative;
        overflow: hidden;
        width: 100%;

        padding: 0 0 0 0;

        &:hover {
            background-color: #282633;

            a {
                padding-left: 10px;
                color: clr(text);
            }
        }

        &::before {
            background-color: rgba(255, 255, 255, 0.02);
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateX(-100%);
        }

        &:active::before {
            transform: translateX(0);
            transition: transform 0.75s ease-in-out;
        }
    }
}

.nav-body a {
    padding: 10px 0;
    display: block;
    color: clr(text, gray);
    text-decoration: none;
    transition:
        background-color 125ms ease,
        padding 125ms ease,
        color 125ms ease;

    &.active {
        color: clr(tier, s) !important;
        font-weight: bold;
    }
}

.navbar-brand {
    color: clr(text) !important;
    text-align: center;
    width: 100%;
    padding-top: 2rem;

    a:hover {
        color: clr(text, turquoise) !important;
    }
}

.nav-socials a {
    color: clr(text, turquoise);
}


// MISCELLANEOUS
// =================================================================

.nav-footer {
    color: clr(text, darkgray) !important;
    font-size: 0.9rem;
}

.nav-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

// NAV TOGGLE BUTTON
// =================================================================

// Unchecked state

#nav-toggler {
    width: 50px;
    height: 50px;
    display: none;

    & + label {
        padding: 1rem;
        position: fixed;
        height: 28px;
        z-index: 90000;
        top: 0;
        cursor: pointer;
        transition: transform 0.3s ease;
        background: clr(container, light);
        display: flex;
        color: clr(tier, s);
        backdrop-filter: blur(5px);
        box-shadow: $shadow;
    }
}

// Checked state

#nav-toggler:checked {
    &+label {
        transform: translateX(190px);
        background: none;
        box-shadow: none;
        backdrop-filter: none;
    }

    &~.nav-body {
        transform: translateX(0px);
    }

    &~.nav-backdrop {
        visibility: visible;
        opacity: 0.4;
    }
}

@media (min-width: 1250px) {
    #nav-toggler+label,
    .nav-backdrop {
        display: none;
    }
}

// MENU ICON LINES
// =================================================================

// Unchecked state

.toggler-lines,
.toggler-lines::before,
.toggler-lines::after {
    --height: 4px;
    content: '';
    width: 30px;
    height: var(--height);
    background-color: clr(tier, s);
    display: block;
    border-radius: 10px;
    transform:
        translateY(var(--translate, 0)) rotateZ(var(--rotate, 0));
    transition:
        transform 0.35s cubic-bezier(.77, .2, .05, 1),
        opacity 0.35s cubic-bezier(.77, .2, .05, 1),
        background 0.35s cubic-bezier(.77, .2, .05, 1);
}

.toggler-lines {
    &::before {
        --translate: calc(var(--height) * 3);
    }

    &::after {
        --translate: calc(var(--height) * 5);
    }
}

// Checked state

#nav-toggler:checked+label .toggler-lines {
    --rotate: 45deg;
    --translate: calc(var(--height) * 2);
    // background-color: clr(text, turquoise);

    &::before {
        --rotate: -45deg;
        --translate: 0;
        opacity: 0;
    }

    &::after {
        --rotate: -90deg;
        --translate: calc(var(--height) * -1);
    }
}