@use "../abstracts" as *;

body {
    background-color: clr(bg);
    color: clr(text);
    font-family: "Poppins", "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
}

menu {
    margin: 0;
    padding: 0;
}

code {
    color: clr(text, pink);
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    text-align: center;

    th,
    td {
        padding: .625em;
    }

    th {
        text-transform: uppercase;
    }
}

// @media screen and (max-width: 600px) {
//     table {
//         border: 0;
//     }

//     table caption {
//         font-size: 1.3em;
//     }

//     table thead {
//         border: none;
//         clip: rect(0 0 0 0);
//         height: 1px;
//         margin: -1px;
//         overflow: hidden;
//         padding: 0;
//         position: absolute;
//         width: 1px;
//     }

//     table tr {
//         display: block;
//         margin-bottom: .625em;
//     }

//     table td {
//         border-bottom: 1px solid #ddd;
//         display: block;
//         font-size: .8em;
//         text-align: right;
//     }

//     table td::before {
//         /*
//       * aria-label has no advantage, it won't be read inside a table
//       content: attr(aria-label);
//       */
//         content: attr(data-label);
//         float: left;
//         font-weight: bold;
//         text-transform: uppercase;
//     }

//     table td:last-child {
//         border-bottom: 0;
//     }
// }