#nn_lb1, #nn_lb3 {
    // 728 x 90
    width: 100%;
    height: 90px;
    text-align: center;
    background: red;
}

// breakpoint is around 990-992px ?

#nn_mobile_lb1, #nn_mobile_lb3 {
    // 320 x 50
    width: 100%;
    height: 50px;
    text-align: center;
    background: blue;
}

#nn_mpu1, #nn_mpu2 {
    // 300 x 250
}