#nn_lb1,
#nn_lb3,
#nn_mobile_lb1,
#nn_mobile_lb3,
#nn_mobile_mpu1,
#nn_mobile_mpu2 {
    display: none;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

// LB2 is the sticky one

@media (min-width: 991px) {

    #nn_lb1,
    #nn_lb3 {
        // 728 x 90
        display: block;
        height: 90px;
    }
}

@media (max-width: 990px) {

    #nn_mobile_lb1,
    #nn_mobile_lb3 {
        // 320 x 50
        display: block;
        height: 50px;
        // padding: 20px 0;
    }

    #nn_mobile_mpu1,
    #nn_mobile_mpu2 {
        // 300 x 250
        display: block;
        height: 250px;
    }
}