.item-frame {
    width: 71px;
    aspect-ratio: 1/1;
    overflow: hidden;
    background: gray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        background: url("../../public/images/itembg.svg") no-repeat center;
        background-size: contain;
        opacity: 0.25;
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        position: relative;
        z-index: 5;
    }
}

.rarity-1 { 
    background: var(--color-rarity-1);
}
.rarity-2 { 
    background: var(--color-rarity-2);
}
.rarity-3 { 
    background: var(--color-rarity-3);
}
.rarity-4 { 
    background: var(--color-rarity-4);
}
.rarity-5 { 
    background: var(--color-rarity-5);
}
