@use "../abstracts" as *;

abbr[title*="China"] {
    filter: drop-shadow(0px 2px 1px clr(shadow));
    display: inline-block;
    line-height: 1;
    background-image: linear-gradient(-45deg, transparent 15%, #e72e37 0);
    border-radius: 2px;
    cursor: default;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 0.2em 0.42em 0.2em 0.36em;
    text-decoration: none;
    text-shadow: 0 0 0.5em rgb(0 0 0 / 60%);
    color: clr(text) !important;

    &::before {
        content: 'CN';
    }
}

section.china-exclusive, .china-exclusive {
    background-color: clr(container, light);
    padding: 2rem;
    border-left: 3px solid #e72e37;
    box-shadow: $shadow;

    h3 {
        margin: 0.3rem 0;
    }
    abbr {
        font-size: 1.2rem;
        vertical-align: middle;
    }
}

.china-exclusive {
    padding: 1rem;
}

.tag {
    filter: drop-shadow(0px 2px 1px clr(shadow));
    display: inline-block;
    line-height: 1;
    background-image: linear-gradient(-45deg, transparent 15%, #2e9de7 0);
    border-radius: 2px;
    cursor: default;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 0.2em 0.42em 0.2em 0.36em;
    text-decoration: none;
    text-shadow: 0 0 0.5em rgb(0 0 0 / 60%);
}