@use '../abstracts' as *;

.version-toggler {
    input {
        display: none;
    }
    label {
        color: clr(text, gray);
        background-color: clr(container, darker);
        box-shadow: inset $shadow;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
    }
    input:checked+label {
        color: clr(text);
        box-shadow: $shadow;
    }
    .global:checked+label {
        background-color: clr(text, blue);
    }
    .china:checked+label {
        background-color: #e72e37;
    }
}