@use "../abstracts" as *;

.food-list {
    text-align: left;

    strong {
        color: clr(text, green);
    }
    
    tbody tr {
        background-color: clr(container, light);
    }
    tbody tr:nth-child(even) { 
        background-color: clr(container, dark);
    }

    tr {
        padding: 1rem;
    }

    .col-dish,
    .ingredient {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .col-dish {
        .item-frame {
            min-width: 80px;
            box-shadow: $shadow;
        }
        .item-frame::before {
            background: none;
        }
        img {
            min-width: 91px;
        }
        abbr {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }

    .ingredient-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: red;
    }

    .ingredient {
        background: green;
        .item-frame {
            width: 43px;
            min-width: 43px;
            box-shadow: $shadow;
        }
        img {
            width: 52px;
            min-width: 52px;
        }
    }
}