.ingredient-group {
    text-align: center;
    white-space: normal;
    line-height: 2rem;
}

.ingredient-group .badge {
    font-size: 2.3rem;
    width: 20px;
    line-height: 20px;
    right: 0px;
    bottom: 2px;
    text-shadow: var(--shadow-0-0-4);
}

.ingredient-group .item-wrapper-with-bg {
    width: 78px;
    height: 78px;
    margin: auto 1rem;
}

.food-group .item-wrapper-with-bg {
    width: 78px;
    height: 78px;
    margin: 1rem auto;
}

.food-group {
    padding: 1.5rem;
}

#food-wrapper {
    position: relative;
    z-index: 60000;
}

.food-group:nth-child(odd) {
    background: var(--color-container-accent-light);
}

.food-group:nth-child(even) {
    background: var(--color-container-accent-dark);
}

.item-img {
    width: 91px;
    height: 91px;
    object-position: -6px -6px;
}

.font-chakra {
    font-family: "Chakra Petch";
}