@use "./base";
@use "./components";
@use "./layout";

@use "./abstracts" as *;

.wrapper {
    display: flex;
    overflow-x: hidden;
}

.middle {
    min-width: 
        clamp(
            $container-width, 
            calc(100% - $sidenav-width), 
            calc(1920px - $sidenav-width * 2)
        );
    width: 100%;
    max-width: 
        clamp(
            $container-width, 
            calc(100% - $sidenav-width), 
            calc(1920px - $sidenav-width * 2)
        );
    margin: 0 auto;
}

@media (min-width: 1921px) {
    .middle {
        max-width: 100%;
    }
} 

@media (max-width: 1000px) {
    .middle {
        min-width: 100%;
    }
}

main {
    // position: relative;
    z-index: 300;
    background-color: clr(container);
    box-shadow: $shadow;
    max-width: clamp($container-width, 100%, $container-width);
    margin: 0 auto;
    padding: 2rem $spacing;
    min-height: calc(100vh - 4rem);
    // transition: transform 0.3s ease;
    --color-volt: #{clr(text, volt)};
    --color-ice: #{clr(text, ice)};
    --color-physical: #{clr(text, phys)};
    --color-flame: #{clr(text, flame)};
    --color-aberration: #{clr(text, aberration)};
    --color-tier-c: #{clr(tier, c)};
    --color-tier-b: #{clr(tier, b)};
    --color-tier-a: #{clr(tier, a)};
    --color-tier-s: #{clr(tier, s)};
    --color-tier-ss: #{clr(tier, ss)};
    --color-rarity-1: #{clr(rarity, 1)};
    --color-rarity-2: #{clr(rarity, 2)};
    --color-rarity-3: #{clr(rarity, 3)};
    --color-rarity-4: #{clr(rarity, 4)};
    --color-rarity-5: #{clr(rarity, 5)};
    
}

.left-gutter, .right-gutter {
    min-width: $sidenav-width;
}

@media (max-width: 1249px) {
    .left-gutter, .right-gutter {
        display: none;
    }
}

.flex {
    display: flex;
}

.bg-img {
    position: fixed;
    z-index: -5;
    right: 0;
    top: 0;
    object-fit: none;
    object-position: 200px;
    transition: opacity 0.5s ease;

    &[src*="weila_lihui"] {
        object-position: 400px;
    }

    &[src*="huodong_meishi"] {
        object-position: 0px;
        top: unset;
        bottom: 0;
    }
}

.w-60ch {
    max-width: 60ch;
}

.w-75ch {
    max-width: 75ch;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.spotlight {
    background-color: clr(container, light);
    padding: 1rem;
    box-shadow: $shadow;
    margin: 2rem 0;
}

.yellow {
    color: clr(tier, s);
}

.turquoise {
    color: clr(text, turquoise);
}

.hide-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
}